.circle-label {
  transform: translateY(0.25em);
}

.timer {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
  font-weight: 600;
}

.timer-button {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(0.7em);
  cursor: pointer;
}
