.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.heading {
  margin: 2rem 0;
}

.font1 {
  font-family: "Open Sans", sans-serif;
}

.font2 {
  font-family: "Courgette", cursive, sans-serif;
}

.font3 {
  font-family: "Gluten", cursive, sans-serif;
}

.theme1 {
  background-color: var(--theme1) !important;
}

.theme2 {
  background-color: var(--theme2) !important;
  color: black !important;
}

.theme3 {
  background-color: var(--theme3) !important;
}

.visible {
  display: block;
}

.non-visible {
  display: none;
}
