:root {
  --theme1: hsl(6, 63%, 50%);
  --theme2: hsl(176, 100%, 44%);
  --theme3: hsl(285, 91%, 52%);
  --main-color: hsl(223, 31%, 20%);
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  background: var(--main-color);
  color: var(--white);
  line-height: 1.5;
}
